<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HOAManagementSystem"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Modules.MaintenanceRequestSuccess"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />
        <activity
            android:name=".Modules.EditProfilePage"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />
        <activity
            android:name=".Modules.ProfilePage"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />
        <activity
            android:name=".Modules.NotificationPage"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />
        <activity
            android:name=".Modules.SubmitFinanceRequest"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />
        <activity
            android:name=".Modules.MaintenanceRequestClicked"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />
        <activity
            android:name=".Modules.MaintenancePage"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />
        <activity
            android:name=".Modules.SubmitMaintenanceRequest"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />
        <activity
            android:name=".Modules.GrievanceClicked"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />
        <activity
            android:name=".Modules.GrievancePage"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />
        <activity
            android:name=".Modules.SuccessGrievanceReport"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />
        <activity
            android:name=".Modules.SubmitGrievanceReport"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />
        <activity
            android:name=".Modules.DocumentsPage"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />
        <activity
            android:name=".Modules.RequestDocumensClicked"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />
        <activity
            android:name=".Modules.SuccessDocumentRequestSubmitted"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />
        <activity
            android:name=".Modules.RequestDocuments"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />
        <activity
            android:name=".Modules.CreateAnnouncementPage"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />
        <activity
            android:name=".Modules.AnnouncementPage"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />
        <activity
            android:name=".Modules.HomePage"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />
        <activity
            android:name=".SignupPageFinish"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />
        <activity
            android:name=".SignupPage"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>